[submodule "Usagi/vendor/spdlog"]
	path = Usagi/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Usagi/vendor/GLFW"]
	path = Usagi/vendor/GLFW
	url = https://github.com/nuisancedm/glfw
[submodule "Usagi/vendor/imgui"]
	path = Usagi/vendor/imgui
	url = https://github.com/nuisancedm/imgui
[submodule "Usagi/vendor/glm"]
	path = Usagi/vendor/glm
	url = https://github.com/g-truc/glm
